{% extends 'layout.html.twig' %}

{% block content %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
        <h2>Mes commandes</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for order in orders %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.number }}</h5>
                                <p class="card-text">Client : {{ order.customer.name }}</p>
                                <a href="{{ path('eshop_order_view', {id: order.id}) }}">Voir</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
