{% extends 'layout.html.twig' %}

{% block content %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    {% if product.enabled %}
                        {% include 'organisms/cards/card-product.html.twig' with {
                            product: product
                        } only %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}
